@media (max-width:1920px) {
  .backgroundLine{
    margin: 0 auto;
    max-width: 1750px;
    height: 100%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    background: white linear-gradient(90deg,
    rgba(255,229,229,0)20%, 
    rgba(255,229,229,1.0) 20%
  ) left center /8.2% ;
  z-index: -1;
  }
 
  .vectorLeft{
    position: absolute;
    left: 0;
    top:0;
    max-width: 29vw;
    transform: inherit;
  }
  .vectorRigth{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 26vw;

    transform: inherit;

  }
  .container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .container__main{
    flex-grow: 2;
  }
  .header__container {
      margin: 60px auto 0;
      width: 190px;
      height: 60px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .icon {
      max-width: 60px;
      height: 100%;
  }
  .logo { 
      max-width: 113.66px;
      max-height: 47.12px;
  }

  .title {
      max-width: 838px;
      max-height: 137px;

      margin: 93px auto 0;
  }
  .title p {
    margin: 8px auto 0;
    max-width: 423px;
  }
  .timeCount {
    max-width: 588px;
    height: 129px;

    margin: 32px auto 0;
  }
  .timeCount__content {
    display: flex;
    justify-content: space-between;
  }
  .timeCount__item {
    text-align: center;
  }
  .timeCount__val {
    min-width: 96px;

    margin: 0 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 100%;
    color: #162C4E;
  }
  .timeCount__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    ;
  }
  .timeCount__separator {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 95%;
    color: #162C4E;
  }
  .timeCount__textContainer {
    margin-top: 3px;

    position: relative;
    height: 54px;

    max-width: 132px;

    
  }

  .timeCount__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .checkEvent {
    margin: 72px auto 0;
  }
  .checkEvent__button{
    margin: 12px auto 0;
    width: 240px;
    height: 60px;
    background: #1D4169;
    border-radius: 40px;
    text-decoration: none; 

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

    /* text-align: center; */
    padding: 1rem 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .checkEvent__vector{
    width: 20px;
    height: 20px;
  }
  .footer{
    flex-grow: 0;

    margin-top: 76px;
    width: 100%;
    height: 192px;

    background: #162C4E;
    opacity: 0.85;

    z-index: -1;
  }
  .footer__container{
    margin: 61px auto 72px;
  }
  .form__notify{
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 8px;
    width: 440px;
    height: 59px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    background-color: white ;
    

  }
  .form__notify input{
    width: 85%;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: black;
    opacity: 0.8;
  }
  ::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: black;
    opacity: 0.6;

  }
  .form__notify button{
    width: 43px;
    height: 43px;
    background: #DF2224;
    border-radius: 50%;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
  }
  /* .popup:target{
    opacity: 0;
    visibility: hidden;
  } */
  .open{
    opacity: 1;
    visibility: visible;
  }

  .popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px 10px;

  }
  .popup__content {
    background-color: #fff;
    color: #000;
    width: 320px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .popup__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
    color: #162C4E;

    margin-top: 97px;
  }
  .popup__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);

    text-align: center;

    max-width: 280px;

    margin-top: 29px;
  }
  .popup__close__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;

    text-align: center;

    width: 200px;
    height: 60px;
    background: #1D4169;
    border-radius: 40px;

    margin-top: 30px;
    padding: 1rem;
  }
}
@media (max-width:768px ){
  .backgroundLine{
    max-width: 700px;
    position: absolute;

    background: white linear-gradient(90deg,
    rgba(255,229,229,0)30%, 
    rgba(255,229,229,.8) 30%
  ) left center / 8.15% ;
  }
  
  
  .header__container {
      margin: 100px auto 0;
     
  }
 
  .title {
      max-width: 838px;
      max-height: 137px;
      margin: 166px auto 0;
  }
  .title p {
    margin: 20px auto 0;
    max-width: 286px;
  }
  .timeCount {
    max-width: 358px;
    height: 82px;

    margin: 40px auto 0;
  }
  
  .timeCount__val {
    min-width: 48px;
    margin: 0 8px;
    font-size: 36px;
   
  }
  .timeCount__text {
    font-size: 12px;
    
  }
  .timeCount__separator {
    font-size: 36px;
  }
  .timeCount__textContainer {
    margin-top: 6px;

    position: relative;
    height: 40px;
    width: 64px;
  }
  .timeCount__textContainer img {
    width: 100%;
    height: 100%;
  }
  .timeCount__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .checkEvent {
    margin: 40px auto 0;
  }
  .checkEvent__button{
    margin: 15px auto 0;
    width: 240px;
    height: 60px;

    font-size: 18px;

    padding: 1rem 1.5rem;
  }
  .checkEvent__vector{
    width: 20px;
    height: 20px;
  }
  .footer{
    flex-grow: 0;

    margin-top: 186px;
    width: 100%;
    height: 192px;

    z-index: -1;
  }
  .footer__container{
    margin: 59px auto 60px;
  }
  .form__notify{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 4px;
    width: 360px;
    height: 41px;
  }
  
  
  ::placeholder {
    font-size: 14px;
  }
  .form__notify button{
    width: 33px;
    height: 33px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form__notify img{
    width: 15.35px;
    height: 15.35px;
  }
}
@media (max-width:360px ){
  
  .backgroundLine{
    margin: 0 auto;
    max-width: 340px;
    height: 100%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    background: white linear-gradient(90deg,
    rgba(255,229,229,0)20%, 
    rgba(255,229,229,.8) 20%
  ) left center /24% ;
  z-index: -1;
  }
  .vectorLeft{
    position: absolute;
    left: -20px;
    top:-25px;
    max-width: 54vw;
    transform: inherit;
  }
  .vectorRigth{
    position: absolute;
    right: 0;
    top: 0;
    max-width: 40vw;

    /* transform: inherit; */

  }
  .header__container {
      margin: 80px auto 0;
      width: 128px;
      height: 40px;
  }
  .icon {
      max-width: 40px;
      height: 100%;
  }
  .logo { 
      max-width: 76.57px;
      max-height: 31.41px;
  }
  .title {
      max-width: 320px;
      max-height: 138px;

      margin: 66px auto 0;
  }
  .title p {
    margin: 16px auto 0;
    max-width: 286px;
  }
  .timeCount {
    max-width: 310px;
    height: 82px;

    margin: 40px auto 0;
  }

  .timeCount__val {
    min-width: 48px;

    margin: 0 7px;

    font-size: 36px;
  }
  .timeCount__text {
    font-size: 12px;
  }
  .timeCount__separator {
    font-size: 36px;
  }
  .timeCount__textContainer {
    margin-top: 6px;

    position: relative;
    height: 40px;
    max-width: 64px;
  }
  .timeCount__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .checkEvent {
    margin: 40px auto 0;
  }
  .checkEvent__button{
    margin: 15px auto 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

    padding: 1rem 2rem;
  }

  .footer{
    flex-grow: 0;

    margin-top: 86px;
    width: 100%;
    height: 141px;
  }
  .footer__container{
    margin: 50px auto;
  }
  .form__notify{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 4px;
    width: 280px;
    height: 41px;
  }
  .form__notify input{
    font-size: 14px;
  }
  ::placeholder {
    font-size: 14px;
  }
  .form__notify button{
    width: 33px;
    height: 33px;
  }

}
